<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onlinefir">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/firlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/firlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineFIR">
        <activity android:name=".admin.AdminDisplayUserActivity"/>
        <activity android:name=".admin.AdminDisplayComplainActivity" />
        <activity android:name=".admin.AdminUserActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".admin.AdminLayoutActivity" />
        <activity android:name=".complainStatus.DisplayInListActivity" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".complainStatus.MyComplainActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".admin.ViewComplainActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".admin.AddAdminActivity" />
        <activity android:name=".admin.AdminLoginActivity">
            
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".DisplayComplainActivity" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity android:name=".LayoutManagerActivity" />
        <activity
            android:name=".ComplainActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".NewsActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>